<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/54761a1713.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section id="app">
      <div class="text-center">
        <h4 class="text-warning">Matching Game</h4>
        <button class="btn btn-success" @click="resetGame()">Reset</button>
      </div>
      <div class="game-container">
        <div class="board">
          <div class="card" v-for="card in cards" :id="card.id" :key="card.id">
            <div
              class="back"
              :class="
              {
                'match' : styleClass.match.includes(card.id), 
                'unmatch': clickedIndex.includes(card.id) && clickedIndex.length === 2
              }
            "
            >
              <i :class="card.class"></i>
            </div>
            <div
              :data-value="card.dataKind"
              class="front"
              :class="{'flip': styleClass.flip === card.id || styleClass.match.includes(card.id) || clickedIndex.includes(card.id)}"
              @click="showCard(card , $event)"
            ></div>
          </div>
        </div>
      </div>
      {{modelBox.isModelClosed}}
      <div class="dialog-container" v-if="modelBox.isVisible">
        <div>
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title mx-auto text-primary">
                  Congratulation You Won!
                </h5>
                <button type="button" class="close" @click="closeModel()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer justify-content-center">
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="resetGame()"
                >
                  Play Again
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./script.js"></script>
  </body>
</html>
<style></style>
